<% layout('/layouts/default.html', {title: '党员活动管理管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('党员活动管理管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('dyhd:dyPartyNumberActivities:edit')){ %>
					<a href="${ctx}/dyhd/dyPartyNumberActivities/form" class="btn btn-default btnTool" title="${text('新增党员活动管理')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${dyPartyNumberActivities}" action="${ctx}/dyhd/dyPartyNumberActivities/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('活动编号')}：</label>
					<div class="control-inline">
						<#form:input path="activityNumber" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动名称')}：</label>
					<div class="control-inline">
						<#form:input path="activityName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动时间')}：</label>
					<div class="control-inline">
						<#form:input path="activityTime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动地点')}：</label>
					<div class="control-inline">
						<#form:input path="activityLocaltion" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('参与对象')}：</label>
					<div class="control-inline">
						<#form:input path="participants" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动内容')}：</label>
					<div class="control-inline">
						<#form:input path="activityContent" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('智能推荐')}：</label>
					<div class="control-inline">
						<#form:input path="recommend" maxlength="16" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createTime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updateTime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("活动编号")}', name:'activityNumber', index:'a.activity_number', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/dyhd/dyPartyNumberActivities/form?id='+row.id+'" class="btnList" data-title="${text("编辑党员活动管理")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("活动名称")}', name:'activityName', index:'a.activity_name', width:150, align:"left"},
		{header:'${text("活动时间")}', name:'activityTime', index:'a.activity_time', width:150, align:"center"},
		{header:'${text("活动地点")}', name:'activityLocaltion', index:'a.activity_localtion', width:150, align:"left"},
		{header:'${text("参与对象")}', name:'participants', index:'a.participants', width:150, align:"left"},
		{header:'${text("活动内容")}', name:'activityContent', index:'a.activity_content', width:150, align:"left"},
		{header:'${text("智能推荐")}', name:'recommend', index:'a.recommend', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updateTime', index:'a.update_time', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('dyhd:dyPartyNumberActivities:edit')){ %>
				actions.push('<a href="${ctx}/dyhd/dyPartyNumberActivities/form?id='+row.id+'" class="btnList" title="${text("编辑党员活动管理")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/dyhd/dyPartyNumberActivities/delete?id='+row.id+'" class="btnList" title="${text("删除党员活动管理")}" data-confirm="${text("确认要删除该党员活动管理吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>