<% layout('/layouts/default.html', {title: '态势感知-亚运热点管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('态势感知-亚运热点管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('yyrd:viewTsgzYyrd:edit')){ %>
					<a href="${ctx}/yyrd/viewTsgzYyrd/form" class="btn btn-default btnTool" title="${text('新增态势感知-亚运热点')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${viewTsgzYyrd}" action="${ctx}/yyrd/viewTsgzYyrd/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('亚运专题')}：</label>
					<div class="control-inline">
						<#form:input path="yyzt" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('传播者')}：</label>
					<div class="control-inline">
						<#form:input path="cbz" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('敏感言论')}：</label>
					<div class="control-inline">
						<#form:input path="mgyl" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createtime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updatetime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("亚运专题")}', name:'yyzt', index:'a.yyzt', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/yyrd/viewTsgzYyrd/form?id='+row.id+'" class="btnList" data-title="${text("编辑态势感知-亚运热点")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("传播者")}', name:'cbz', index:'a.cbz', width:150, align:"left"},
		{header:'${text("敏感言论")}', name:'mgyl', index:'a.mgyl', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'createtime', index:'a.createtime', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updatetime', index:'a.updatetime', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('yyrd:viewTsgzYyrd:edit')){ %>
				actions.push('<a href="${ctx}/yyrd/viewTsgzYyrd/form?id='+row.id+'" class="btnList" title="${text("编辑态势感知-亚运热点")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/yyrd/viewTsgzYyrd/delete?id='+row.id+'" class="btnList" title="${text("删除态势感知-亚运热点")}" data-confirm="${text("确认要删除该态势感知-亚运热点吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>