<% layout('/layouts/default.html', {title: '态势感知-言论监测管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('态势感知-言论监测管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('yljc:viewTsgzYljc:edit')){ %>
					<a href="${ctx}/yljc/viewTsgzYljc/form" class="btn btn-default btnTool" title="${text('新增态势感知-言论监测')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${viewTsgzYljc}" action="${ctx}/yljc/viewTsgzYljc/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('名称')}：</label>
					<div class="control-inline">
						<#form:input path="mc" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('来源')}：</label>
					<div class="control-inline">
						<#form:input path="ly" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('时间')}：</label>
					<div class="control-inline">
						<#form:input path="sj" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('内容')}：</label>
					<div class="control-inline">
						<#form:input path="content" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('类型')}：</label>
					<div class="control-inline">
						<#form:input path="type" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createtime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updatetime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("名称")}', name:'mc', index:'a.mc', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/yljc/viewTsgzYljc/form?id='+row.id+'" class="btnList" data-title="${text("编辑态势感知-言论监测")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("来源")}', name:'ly', index:'a.ly', width:150, align:"left"},
		{header:'${text("时间")}', name:'sj', index:'a.sj', width:150, align:"center"},
		{header:'${text("内容")}', name:'content', index:'a.content', width:150, align:"left"},
		{header:'${text("类型")}', name:'type', index:'a.type', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'createtime', index:'a.createtime', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updatetime', index:'a.updatetime', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('yljc:viewTsgzYljc:edit')){ %>
				actions.push('<a href="${ctx}/yljc/viewTsgzYljc/form?id='+row.id+'" class="btnList" title="${text("编辑态势感知-言论监测")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/yljc/viewTsgzYljc/delete?id='+row.id+'" class="btnList" title="${text("删除态势感知-言论监测")}" data-confirm="${text("确认要删除该态势感知-言论监测吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>